@use '../../../../app/styles/index';

.basketProduct {
  @include index.mix-flex-container(null, space-around, center);
  column-gap: 15px;
  @include index.mix-animation-animation(0, 0.5s, animation-slide-fade-in, ease);

  &__fadeOut {
    @include index.mix-animation-animation(0, 0.5s, animation-slide-fade-out, ease);
    opacity: 0;
  }

  @include index.mix-breakpoints-tablet-small {
    column-gap: 5px;
  }

  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    @include index.mix-breakpoints-mobile {
      width: 60%;
    }
  }

  &__price {
    @include index.mix-flex-container(null, end);
    width: 20%;

    justify-content: end;
    @include index.mix-breakpoints-tablet-small {
      min-width: 15%;
    }
  }

  &__count {
    @include index.mix-flex-container(null, end);
    width: 15%;
  }
}

