@use '../vars';

@mixin default {
  margin: 0;
  padding: 0;
}

@mixin reset-list {
  @include default;
  list-style: none;
}

@mixin reset-link {
  text-decoration: none;
}

@mixin reset-input {
  @include default;
  background: transparent;
  border: none;
  outline: none;
}

@mixin reset-button {
  @include default;
  background: transparent;
  border: none;
  cursor: pointer;
}
